body {
  text-align: center;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#drum-machine {
  background-color: #161a1d;
  margin: auto;
  top: 50%;
  width: 400px;
  border-radius: 8px;
  padding: 30px;
}

button {
  background-color: #48CAE4;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  font-family: 'Press Start 2P', cursive;
}

#display {
  color: white;
}

#title {
  color: white;
  text-align: center;
}
